body{
    font-family: 'Roboto', system-ui;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 50%;
    border-radius: 15px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}